@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

.main h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.main ul {
    list-style: none;
    padding:0;
}

.main ul li {
    margin:5px;
}

.main ul li a button {
    width: 100%;
    background-color: white;
}


.newill form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    align-items: center
}