@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

.main {
    padding-bottom:50px;
}
.main h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
}



.add-ill {
    font-size: 37px;
    color: white;
    position: absolute;
    right: 11px;
    top: 7px;
    background: none;
    border: none;
}

.illnesses {
    margin-top: 12px;
}


.one-ill {
    display: flex;
    justify-content: flex-end;
    border: 1px solid gray;
    background-color: white;
    margin: 0px 15px 12px 15px;
    border-radius: 11px;
    flex-direction: column;
    align-items: center;
}

.one-ill .buttons {
    align-self: flex-end
}

.one-ill .buttons button {
    border: none;
    background: none;
    font-size: 18px;
    padding: 0 3px;
}

.newill form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    align-items: center
}