@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

.main {
    padding-bottom:50px;
    font-family: 'Roboto', sans-serif;
}
.main h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.add-ill {
    font-size: 37px;
    color: white;
    position: absolute;
    right: 11px;
    top: 7px;
    background: none;
    border: none;
}

.illnesses {
    margin-top: 12px;
}


.one-ill {
    display: flex;
    justify-content: flex-end;
    border: 1px solid rgb(218, 213, 213);
    background-color: white;
    margin: 0px 15px 12px 15px;
    border-radius: 11px;
    flex-direction: column;
    align-items: center;
}

.one-ill .buttons {
    align-self: flex-end;
    margin-top: 4px;
}


.one-ill .buttons button {
    border: none;
    background: none;
    font-size: 4.5vw;
    padding: 0 3px;
}

.fa-trash-o {
    color:red;
}

.fa-pencil-square-o {
   color:black;
}

.one-ill:hover {
    background-color: rgb(207, 240, 187,0.7);
}

.one-ill .ill-info {
 width:100%;
 font-size: 4vw;
}

.one-ill .ill-info a {
    color:black;
    text-decoration:none;
}

.one-ill .ill-info a div {
    margin-bottom: 12px;
}

.one-ill .ill-info p {
    margin: 2px 0;
}

.ill-name p:first-child, .ill-description p:first-child {
    margin-right: 10px;
    margin-left: 40px;
    font-weight:bold
}


.one-ill .ill-info .ill-name,  .one-ill .ill-info .ill-description {
    display: flex;
}

.tracking{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}