@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

.login {
    margin: 0 auto;
    width: 50%;    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.login h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.login form input {
    margin: 10px 0;
}

.login form button a {
    text-decoration: none;
}