@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

.signup {
    margin: 0 auto;
    width: 50%;
}

.signup h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}